In [1]:
from pyspark.sql import SparkSession

## Membaca Data Menggunakan PySpark

In [2]:
spark = SparkSession.builder.appName('latihan1').getOrCreate()
spark

#### Menggunakan PySpark Session untuk membaca data

In [4]:
iris_df = spark.read.option("inferSchema", "true").option("header","true").csv("iris.csv")

In [5]:
iris_df.show(15)

+------------+-----------+------------+-----------+-------+
|sepal_length|sepal_width|petal_length|petal_width|variety|
+------------+-----------+------------+-----------+-------+
|         5.1|        3.5|         1.4|        0.2| Setosa|
|         4.9|        3.0|         1.4|        0.2| Setosa|
|         4.7|        3.2|         1.3|        0.2| Setosa|
|         4.6|        3.1|         1.5|        0.2| Setosa|
|         5.0|        3.6|         1.4|        0.2| Setosa|
|         5.4|        3.9|         1.7|        0.4| Setosa|
|         4.6|        3.4|         1.4|        0.3| Setosa|
|         5.0|        3.4|         1.5|        0.2| Setosa|
|         4.4|        2.9|         1.4|        0.2| Setosa|
|         4.9|        3.1|         1.5|        0.1| Setosa|
|         5.4|        3.7|         1.5|        0.2| Setosa|
|         4.8|        3.4|         1.6|        0.2| Setosa|
|         4.8|        3.0|         1.4|        0.1| Setosa|
|         4.3|        3.0|         1.1|        0.1| Setosa|
|         5.8|        4.0|         1.2|        0.2| Setosa|
+------------+-----------+------------+-----------+-------+
only showing top 15 rows

In [6]:
# MENAMPILKAN TIPE DATA

iris_df.printSchema()

root
 |-- sepal_length: double (nullable = true)
 |-- sepal_width: double (nullable = true)
 |-- petal_length: double (nullable = true)
 |-- petal_width: double (nullable = true)
 |-- variety: string (nullable = true)

#### Menampilkan data dr kolom spesifik

In [7]:
iris_df.select(["sepal_length","variety"]).show(5)

+------------+-------+
|sepal_length|variety|
+------------+-------+
|         5.1| Setosa|
|         4.9| Setosa|
|         4.7| Setosa|
|         4.6| Setosa|
|         5.0| Setosa|
+------------+-------+
only showing top 5 rows

In [8]:
# OPERASI MATEMATIS

iris_df.select(iris_df["sepal_length"]*10).show(5)

+-------------------+
|(sepal_length * 10)|
+-------------------+
|               51.0|
|               49.0|
|               47.0|
|               46.0|
|               50.0|
+-------------------+
only showing top 5 rows

#### Summary Statistic

In [9]:
iris_df.describe().show()

+-------+------------------+-------------------+------------------+------------------+---------+
|summary|      sepal_length|        sepal_width|      petal_length|       petal_width|  variety|
+-------+------------------+-------------------+------------------+------------------+---------+
|  count|               150|                150|               150|               150|      150|
|   mean| 5.843333333333335|  3.057333333333334|3.7580000000000027| 1.199333333333334|     NULL|
| stddev|0.8280661279778637|0.43586628493669793|1.7652982332594662|0.7622376689603467|     NULL|
|    min|               4.3|                2.0|               1.0|               0.1|   Setosa|
|    max|               7.9|                4.4|               6.9|               2.5|Virginica|
+-------+------------------+-------------------+------------------+------------------+---------+

In [10]:
iris_df.summary().show()

+-------+------------------+-------------------+------------------+------------------+---------+
|summary|      sepal_length|        sepal_width|      petal_length|       petal_width|  variety|
+-------+------------------+-------------------+------------------+------------------+---------+
|  count|               150|                150|               150|               150|      150|
|   mean| 5.843333333333335|  3.057333333333334|3.7580000000000027| 1.199333333333334|     NULL|
| stddev|0.8280661279778637|0.43586628493669793|1.7652982332594662|0.7622376689603467|     NULL|
|    min|               4.3|                2.0|               1.0|               0.1|   Setosa|
|    25%|               5.1|                2.8|               1.6|               0.3|     NULL|
|    50%|               5.8|                3.0|               4.3|               1.3|     NULL|
|    75%|               6.4|                3.3|               5.1|               1.8|     NULL|
|    max|               7.9|                4.4|               6.9|               2.5|Virginica|
+-------+------------------+-------------------+------------------+------------------+---------+

#### Mengurutkan data berdasarkan nilai dr kolom tertentu

In [12]:
iris_df.sort("sepal_width", ascending=False).show(5)

+------------+-----------+------------+-----------+-------+
|sepal_length|sepal_width|petal_length|petal_width|variety|
+------------+-----------+------------+-----------+-------+
|         5.7|        4.4|         1.5|        0.4| Setosa|
|         5.5|        4.2|         1.4|        0.2| Setosa|
|         5.2|        4.1|         1.5|        0.1| Setosa|
|         5.8|        4.0|         1.2|        0.2| Setosa|
|         5.4|        3.9|         1.7|        0.4| Setosa|
+------------+-----------+------------+-----------+-------+
only showing top 5 rows

## Data Aggregation & Join dengan PySpark

#### Count : hitung jml baris

In [13]:
from pyspark.sql.functions import count
iris_df.select (count("sepal_length")).show()

+-------------------+
|count(sepal_length)|
+-------------------+
|                150|
+-------------------+

#### countDistinct()

Hal yang membedakannya adalah function ini hanya menghitung jumlah baris dengan nilai yang unik.

Sebagai contoh, kolom “variety” memuat nama kategori dari spesies tanaman iris yaitu “Virginica”, “Setosa”, dan “Versicolor” sehingga kolom ini hanya memiliki tiga nilai unik.

In [14]:
from pyspark.sql.functions import countDistinct
iris_df.select(countDistinct("variety")).show()

+-----------------------+
|count(DISTINCT variety)|
+-----------------------+
|                      3|
+-----------------------+

#### min() dan max()

In [15]:
from pyspark.sql.functions import min, max
iris_df.select(min("sepal_length"), max("sepal_length")).show()

+-----------------+-----------------+
|min(sepal_length)|max(sepal_length)|
+-----------------+-----------------+
|              4.3|              7.9|
+-----------------+-----------------+

#### sum()

In [16]:
from pyspark.sql.functions import sum
iris_df.select(sum("sepal_length")).show()

+-----------------+
|sum(sepal_length)|
+-----------------+
|876.5000000000002|
+-----------------+

#### avg()

In [18]:
from pyspark.sql.functions import avg
iris_df.select(avg("sepal_length")).show()

+-----------------+
|avg(sepal_length)|
+-----------------+
|5.843333333333335|
+-----------------+

#### median

In [19]:
from pyspark.sql.functions import median
iris_df.select(median("sepal_length")).show()

+--------------------+
|median(sepal_length)|
+--------------------+
|                 5.8|
+--------------------+

#### groupBy()

mengelompokkan berdasarkan kolom kategorikal tertentu dan menghitung parameter statistik untuk kolom tersebut.

In [20]:
iris_df.groupBy("variety").avg("sepal_length").show()

+----------+-----------------+
|   variety|avg(sepal_length)|
+----------+-----------------+
| Virginica|6.587999999999998|
|    Setosa|5.005999999999999|
|Versicolor|            5.936|
+----------+-----------------+

Pada contoh kode di atas, kita mengelompokkan data berdasarkan kolom "variety" sehingga terbentuk tiga kelompok data yaitu “Virginica”, “Setosa”, dan “Versicolor”. Kemudian kita menghitung nilai rata-rata “petal_width” untuk setiap kategori tersebut.

 menampilkan lebih dari satu parameter statistik, Anda dapat menggunakan method agg()

In [22]:
iris_df.groupBy("variety").agg(
    avg("sepal_length").alias("avg_sepal_length"),
    avg("sepal_width").alias("avg_sepal_width"),
    avg("petal_width").alias("avg_petal_width"),
    avg("petal_length").alias("avg_petal_length")
).show()

+----------+-----------------+------------------+------------------+------------------+
|   variety| avg_sepal_length|   avg_sepal_width|   avg_petal_width|  avg_petal_length|
+----------+-----------------+------------------+------------------+------------------+
| Virginica|6.587999999999998|2.9739999999999998|             2.026|             5.552|
|    Setosa|5.005999999999999| 3.428000000000001|0.2459999999999999|1.4620000000000002|
|Versicolor|            5.936|2.7700000000000005|1.3259999999999998|              4.26|
+----------+-----------------+------------------+------------------+------------------+

### JOIN

In [23]:
customers_df = spark.read.format('csv')\
.option("inferSchema", "true")\
.option("header","true")\
.load("customers.csv")

orders_df = spark.read.format('csv')\
.option("inferSchema","true")\
.option("header","true")\
.load("orders.csv")

In [24]:
# DEFINISIKAN JOIN EXPRESSION

join_expression = customers_df["customer_id"] == orders_df['customer_id']

Kode di atas untuk memberitahu pyspark kolom yg digunakan sbg primary key dan foreign key

**INNER JOIN**

proses join yang hanya mengambil nilai yang bersesuaian di kedua tabel.

In [25]:
join_type = "inner"
orders_df.join(customers_df, join_expression, join_type).show(5)

+--------+-----------+-------+-------------------+-------------+-----------+-------------+-----------------+---+--------------------+--------+-------------+------------------+---------+
|order_id|customer_id|payment|         order_date|delivery_date|customer_id|customer_name|           gender|age|        home_address|zip_code|         city|             state|  country|
+--------+-----------+-------+-------------------+-------------+-----------+-------------+-----------------+---+--------------------+--------+-------------+------------------+---------+
|     729|          1|  35593|2021-02-18 00:00:00|   2021-03-01|          1|      fulan 1|           Female| 30|8606 Victoria Ter...|    5464|Johnstonhaven|Northern Territory|Australia|
|     670|          1|  10246|2021-03-06 00:00:00|   2021-04-01|          1|      fulan 1|           Female| 30|8606 Victoria Ter...|    5464|Johnstonhaven|Northern Territory|Australia|
|     455|          1|  24550|2021-04-04 00:00:00|   2021-04-06|          1|      fulan 1|           Female| 30|8606 Victoria Ter...|    5464|Johnstonhaven|Northern Territory|Australia|
|     465|          7|  48935|2021-05-21 00:00:00|   2021-05-23|          7|      fulan 7|Prefer not to say| 76|92 Hills Station ...|     793|    Masonfurt|        Queensland|Australia|
|     595|         10|  45626|2021-03-09 00:00:00|   2021-03-29|         10|     fulan 10|Prefer not to say| 70|615 Hayley KnollS...|    2118|    Joelburgh| Western Australia|Australia|
+--------+-----------+-------+-------------------+-------------+-----------+-------------+-----------------+---+--------------------+--------+-------------+------------------+---------+
only showing top 5 rows

**OUTER JOINS**

proses join yang akan mengambil semua nilai dari kedua tabel.

In [26]:
join_type = "outer"
orders_df.join(customers_df, join_expression, join_type).show(5)

+--------+-----------+-------+-------------------+-------------+-----------+-------------+-----------------+---+--------------------+--------+---------------+--------------------+---------+
|order_id|customer_id|payment|         order_date|delivery_date|customer_id|customer_name|           gender|age|        home_address|zip_code|           city|               state|  country|
+--------+-----------+-------+-------------------+-------------+-----------+-------------+-----------------+---+--------------------+--------+---------------+--------------------+---------+
|     455|          1|  24550|2021-04-04 00:00:00|   2021-04-06|          1|      fulan 1|           Female| 30|8606 Victoria Ter...|    5464|  Johnstonhaven|  Northern Territory|Australia|
|     670|          1|  10246|2021-03-06 00:00:00|   2021-04-01|          1|      fulan 1|           Female| 30|8606 Victoria Ter...|    5464|  Johnstonhaven|  Northern Territory|Australia|
|     729|          1|  35593|2021-02-18 00:00:00|   2021-03-01|          1|      fulan 1|           Female| 30|8606 Victoria Ter...|    5464|  Johnstonhaven|  Northern Territory|Australia|
|    NULL|       NULL|   NULL|               NULL|         NULL|          2|      fulan 2|Prefer not to say| 69|8327 Kirlin Summi...|    8223|New Zacharyfort|     South Australia|Australia|
|    NULL|       NULL|   NULL|               NULL|         NULL|          3|      fulan 3|Prefer not to say| 59|269 Gemma SummitS...|    5661|       Aliburgh|Australian Capita...|Australia|
+--------+-----------+-------+-------------------+-------------+-----------+-------------+-----------------+---+--------------------+--------+---------------+--------------------+---------+
only showing top 5 rows

**LEFT OUTER JOINS**

 proses join yang akan mengambil semua nilai dari tabel kiri beserta nilai yang bersesuaian dari tabel kanan.

In [27]:
join_type = "left_outer"
orders_df.join(customers_df, join_expression, join_type).show(5)

+--------+-----------+-------+-------------------+-------------+-----------+-------------+-----------------+---+--------------------+--------+------------------+-----------------+---------+
|order_id|customer_id|payment|         order_date|delivery_date|customer_id|customer_name|           gender|age|        home_address|zip_code|              city|            state|  country|
+--------+-----------+-------+-------------------+-------------+-----------+-------------+-----------------+---+--------------------+--------+------------------+-----------------+---------+
|       1|         64|  30811|2021-08-30 00:00:00|   2021-09-24|         64|     fulan 64|Prefer not to say| 75|4927 Alice Meadow...|    7787|    Sanfordborough|  South Australia|Australia|
|       2|        473|  50490|2021-02-03 00:00:00|   2021-02-13|        473|    fulan 473|             Male| 61|531 Schmitt Boule...|    1744|           Annaton|  South Australia|Australia|
|       3|        774|  46763|2021-10-08 00:00:00|   2021-11-03|        774|    fulan 774|Prefer not to say| 34|2096 Wilson MewsA...|    8590|West Jonathanshire|         Tasmania|Australia|
|       4|        433|  39782|2021-05-06 00:00:00|   2021-05-19|        433|    fulan 433|Prefer not to say| 46|5777 Mayer PassAp...|    9728|  West Michaelport|         Tasmania|Australia|
|       5|        441|  14719|2021-03-23 00:00:00|   2021-03-24|        441|    fulan 441|Prefer not to say| 53|33 Richards Junct...|    7650|   South Rileyview|Western Australia|Australia|
+--------+-----------+-------+-------------------+-------------+-----------+-------------+-----------------+---+--------------------+--------+------------------+-----------------+---------+
only showing top 5 rows

**RIGHT OUTER JOINS**

proses join yang akan mengambil semua nilai dari tabel kanan beserta nilai yang bersesuaian dari tabel kiri.

In [28]:
join_expression = customers_df["customer_id"] == orders_df['customer_id']
join_type = "right_outer"
orders_df.join(customers_df, join_expression, join_type).show(5)

+--------+-----------+-------+-------------------+-------------+-----------+-------------+-----------------+---+--------------------+--------+---------------+--------------------+---------+
|order_id|customer_id|payment|         order_date|delivery_date|customer_id|customer_name|           gender|age|        home_address|zip_code|           city|               state|  country|
+--------+-----------+-------+-------------------+-------------+-----------+-------------+-----------------+---+--------------------+--------+---------------+--------------------+---------+
|     729|          1|  35593|2021-02-18 00:00:00|   2021-03-01|          1|      fulan 1|           Female| 30|8606 Victoria Ter...|    5464|  Johnstonhaven|  Northern Territory|Australia|
|     670|          1|  10246|2021-03-06 00:00:00|   2021-04-01|          1|      fulan 1|           Female| 30|8606 Victoria Ter...|    5464|  Johnstonhaven|  Northern Territory|Australia|
|     455|          1|  24550|2021-04-04 00:00:00|   2021-04-06|          1|      fulan 1|           Female| 30|8606 Victoria Ter...|    5464|  Johnstonhaven|  Northern Territory|Australia|
|    NULL|       NULL|   NULL|               NULL|         NULL|          2|      fulan 2|Prefer not to say| 69|8327 Kirlin Summi...|    8223|New Zacharyfort|     South Australia|Australia|
|    NULL|       NULL|   NULL|               NULL|         NULL|          3|      fulan 3|Prefer not to say| 59|269 Gemma SummitS...|    5661|       Aliburgh|Australian Capita...|Australia|
+--------+-----------+-------+-------------------+-------------+-----------+-------------+-----------------+---+--------------------+--------+---------------+--------------------+---------+
only showing top 5 rows

**LEFT SEMI JOINS**

proses join yang akan mengambil seluruh nilai dari tabel kiri beserta nilai yang bersesuaian dan mengabaikan semua kolom dari tabel kanan.

In [29]:
join_type = "left_semi"
orders_df.join(customers_df, join_expression, join_type).show(5)

+--------+-----------+-------+-------------------+-------------+
|order_id|customer_id|payment|         order_date|delivery_date|
+--------+-----------+-------+-------------------+-------------+
|       1|         64|  30811|2021-08-30 00:00:00|   2021-09-24|
|       2|        473|  50490|2021-02-03 00:00:00|   2021-02-13|
|       3|        774|  46763|2021-10-08 00:00:00|   2021-11-03|
|       4|        433|  39782|2021-05-06 00:00:00|   2021-05-19|
|       5|        441|  14719|2021-03-23 00:00:00|   2021-03-24|
+--------+-----------+-------+-------------------+-------------+
only showing top 5 rows

**LEFT ANTI JOINS**

proses join yang hanya akan mengambil nilai dari tabel kiri yang tidak bersesuaian dengan tabel kanan.

In [30]:
join_type = "left_anti"
orders_df.join(customers_df, join_expression, join_type).show(5)

+--------+-----------+-------+----------+-------------+
|order_id|customer_id|payment|order_date|delivery_date|
+--------+-----------+-------+----------+-------------+
+--------+-----------+-------+----------+-------------+

In [31]:
join_type = "left_anti"
customers_df.join(orders_df, join_expression, join_type).show(5)

+-----------+-------------+-----------------+---+--------------------+--------+-----------------+--------------------+---------+
|customer_id|customer_name|           gender|age|        home_address|zip_code|             city|               state|  country|
+-----------+-------------+-----------------+---+--------------------+--------+-----------------+--------------------+---------+
|          2|      fulan 2|Prefer not to say| 69|8327 Kirlin Summi...|    8223|  New Zacharyfort|     South Australia|Australia|
|          3|      fulan 3|Prefer not to say| 59|269 Gemma SummitS...|    5661|         Aliburgh|Australian Capita...|Australia|
|          4|      fulan 4|Prefer not to say| 67|743 Bailey GroveS...|    1729|South Justinhaven|          Queensland|Australia|
|          5|      fulan 5|Prefer not to say| 30|48 Hyatt ManorSui...|    4032|   Griffithsshire|          Queensland|Australia|
|          6|      fulan 6|Prefer not to say| 40|7118 Mccullough S...|    9996|       Blakehaven|     New South Wales|Australia|
+-----------+-------------+-----------------+---+--------------------+--------+-----------------+--------------------+---------+
only showing top 5 rows