**Preprocessing Data dengan PySpark**

Adapun teknik data preprocessing yang akan kita bahas pada materi kali ini seperti berikut.

- Scaling
- Label Encoding
- One-Hot Encoding
- PCA

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('learn_data_cleansing').getOrCreate()


customers_df = spark.read.format('csv')\
.option("infraSchema", "true")\
.option("header","true")\
.load("customers.csv")

customers_df.createOrReplaceTempView("customers_table")

In [4]:
# TIPE DATA & SUMMARY STATISTIC

print(customers_df.printSchema())
customers_df.summary().show()

root
 |-- customer_id: string (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: string (nullable = true)
 |-- home_address: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)

None
+-------+------------------+-------------+-----------------+------------------+--------------------+-----------------+---------+--------------------+---------+
|summary|       customer_id|customer_name|           gender|               age|        home_address|         zip_code|     city|               state|  country|
+-------+------------------+-------------+-----------------+------------------+--------------------+-----------------+---------+--------------------+---------+
|  count|              1007|         1007|              989|              1007|                1007|             1007|     1007|                1007|     1007|
|   mean| 501.7269116186693|         NULL|             NULL| 50.92949354518371|                NULL|5012.538232373387|     NULL|                NULL|     NULL|
| stddev|288.67323822944866|         NULL|             NULL|30.516299364117287|                NULL|2885.836111752482|     NULL|                NULL|     NULL|
|    min|                 1|      fulan 1|           Female|                20|00 Fadel CircuitA...|             1007|Aaronbury|Australian Capita...|Australia|
|    25%|             252.0|         NULL|             NULL|              34.0|                NULL|           2403.0|     NULL|                NULL|     NULL|
|    50%|             502.0|         NULL|             NULL|              50.0|                NULL|           5087.0|     NULL|                NULL|     NULL|
|    75%|             752.0|         NULL|             NULL|              65.0|                NULL|           7499.0|     NULL|                NULL|     NULL|
|    max|               999|    fulan 999|Prefer not to say|                80|9993 Wood RidgeAp...|             9998| Zacville|   Western Australia|Australia|
+-------+------------------+-------------+-----------------+------------------+--------------------+-----------------+---------+--------------------+---------+

In [5]:
from pyspark.sql.functions import isnull, isnan

customers_df.where(isnull('gender') | isnan('gender')).show()

print("jumlah missing value : ", customers_df.where(isnull('gender')|isnan('gender')).count())

+-----------+-------------+------+---+--------------------+--------+--------------------+--------------------+---------+
|customer_id|customer_name|gender|age|        home_address|zip_code|                city|               state|  country|
+-----------+-------------+------+---+--------------------+--------+--------------------+--------------------+---------+
|         39|     fulan 39|  NULL| 80|7440 Cameron Esta...|    4622|North Victoriache...|  Northern Territory|Australia|
|        168|    fulan 168|  NULL| 27|2781 Berge MallSu...|    1975|      North Leoburgh|   Western Australia|Australia|
|        322|    fulan 322|  NULL| 30|593 Becker Circle...|    1640|          Jacobiview|   Western Australia|Australia|
|        393|    fulan 393|  NULL| 34|5158 Levi HillSui...|    1474|          Johnsburgh|          Queensland|Australia|
|        442|    fulan 442|  NULL| 26|5157 Feil RoadApt...|    7249|          Port Chloe|     New South Wales|Australia|
|        720|    fulan 720|  NULL| 40|31 Jordan ParadeA...|    1380|          West Henry|     South Australia|Australia|
|        743|    fulan 743|  NULL| 57|09 Christopher St...|    6226|      Lake Lukemouth|   Western Australia|Australia|
|        771|    fulan 771|  NULL| 74|7367 Wright Junct...|    8882|            Kuhntown|            Victoria|Australia|
|        795|    fulan 795|  NULL| 49|487 Summer MewsAp...|    1712|         East Hayden|Australian Capita...|Australia|
|        798|    fulan 798|  NULL| 56|27 Aiden KnollApt...|    6531|            Port Sam|Australian Capita...|Australia|
|        822|    fulan 822|  NULL| 59|41 Jenkins KnollS...|    2588|     Lake Andrewport|     South Australia|Australia|
|        855|    fulan 855|  NULL| 55|603 O'keefe Knoll...|    8822|     Port Dylanmouth|            Tasmania|Australia|
|        859|    fulan 859|  NULL| 38|32 Isla GroveApt....|    7711|         Rosechester|     New South Wales|Australia|
|        909|    fulan 909|  NULL| 62|976 Murray Statio...|    3227|            Langfort|            Tasmania|Australia|
|        929|    fulan 929|  NULL| 68|394 Lily HillSuit...|    2353|          Beahanfurt|  Northern Territory|Australia|
|        943|    fulan 943|  NULL| 64|3117 Heller Place...|     822|        North Elijah|     South Australia|Australia|
|        946|    fulan 946|  NULL| 24|8227 Nicholas Hil...|     115|        South Jasper|          Queensland|Australia|
|        988|    fulan 988|  NULL| 35|1130 Turner Estat...|    9386|           New Harry|   Western Australia|Australia|
+-----------+-------------+------+---+--------------------+--------+--------------------+--------------------+---------+

jumlah missing value :  18

In [6]:
print("jumlah duplikasi : ", (customers_df.count() - customers_df.distinct().count()))

jumlah duplikasi :  6

In [7]:

# UBAH TIPE DATA W/ CAST()

from pyspark.sql.functions import col

new_customers_df = customers_df.withColumn("customer_id", col("customer_id").cast("string"))
new_customers_df = new_customers_df.withColumn("zip_code", col("zip_code").cast("string"))

new_customers_df.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: string (nullable = true)
 |-- home_address: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)

In [8]:
new_customers_df.na.drop()

DataFrame[customer_id: string, customer_name: string, gender: string, age: string, home_address: string, zip_code: string, city: string, state: string, country: string]

In [9]:
# SIMPAN DATA YG TDK MISSING VALUE

new_customers_df = new_customers_df.na.drop()

print("jumlah missing value : ", new_customers_df.where(isnull('gender') | isnan('gender')).count())

jumlah missing value :  0

In [10]:

customers_df.na.fill("prefer not to say", subset = ["gender"])

DataFrame[customer_id: string, customer_name: string, gender: string, age: string, home_address: string, zip_code: string, city: string, state: string, country: string]

In [ ]:
from pyspark import pandas as ps
customers_df_pandas = ps.read_csv("customers.csv")
customers_df_pandas["age"].interpolate(method='linear')


new_customers_df.where(new_customers_df.age > 100).show()

In [12]:
from pyspark.sql.functions import when

new_customers_df = new_customers_df.withColumn(
    "age", when(new_customers_df.age == 700, 70) \
    .when(new_customers_df.age == 500, 50) \
    .otherwise(new_customers_df.age))

new_customers_df.summary().show()

+-------+------------------+-------------+-----------------+------------------+--------------------+-----------------+---------+--------------------+---------+
|summary|       customer_id|customer_name|           gender|               age|        home_address|         zip_code|     city|               state|  country|
+-------+------------------+-------------+-----------------+------------------+--------------------+-----------------+---------+--------------------+---------+
|  count|               989|          989|              989|               989|                 989|              989|      989|                 989|      989|
|   mean|498.27805864509605|         NULL|             NULL|49.876643073811934|                NULL|5026.199191102123|     NULL|                NULL|     NULL|
| stddev|287.67376465771207|         NULL|             NULL|17.651855611617894|                NULL|2880.569897954812|     NULL|                NULL|     NULL|
|    min|                 1|      fulan 1|           Female|                20|00 Fadel CircuitA...|             1007|Aaronbury|Australian Capita...|Australia|
|    25%|             250.0|         NULL|             NULL|              34.0|                NULL|           2430.0|     NULL|                NULL|     NULL|
|    50%|             498.0|         NULL|             NULL|              50.0|                NULL|           5120.0|     NULL|                NULL|     NULL|
|    75%|             745.0|         NULL|             NULL|              65.0|                NULL|           7499.0|     NULL|                NULL|     NULL|
|    max|               999|    fulan 999|Prefer not to say|                80|9993 Wood RidgeAp...|             9998| Zacville|   Western Australia|Australia|
+-------+------------------+-------------+-----------------+------------------+--------------------+-----------------+---------+--------------------+---------+

In [13]:

new_customers_df = new_customers_df.dropDuplicates()
print("Jumlah duplikasi: ", (new_customers_df.count() - new_customers_df.distinct().count()))

Jumlah duplikasi:  0

## Scaling

#### Standar Scaling

Mengubah skala pada data numerik sehingga memiliki nilai rata-rata 0 dan standar deviasi 1

In [16]:
from pyspark.ml.feature import StandardScaler
from pyspark.ml.feature import VectorAssembler
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType # Import IntegerType

# Ubah nilai pd kolom age menjadi vector

# Cast the age column to IntegerType
new_customers_df = new_customers_df.withColumn("age", col("age").cast(IntegerType()))

assembler = VectorAssembler().setInputCols(['age']).setOutputCol('vec_age')
preprocess_customers_df = assembler.transform(new_customers_df)

standard_scaler = StandardScaler().setInputCol("vec_age").setOutputCol('StandardScaler_age')
preprocess_customers_df = standard_scaler.fit(preprocess_customers_df).transform(preprocess_customers_df)
preprocess_customers_df.show(5)

+-----------+-------------+-----------------+---+--------------------+--------+----------------+--------------------+---------+-------+--------------------+
|customer_id|customer_name|           gender|age|        home_address|zip_code|            city|               state|  country|vec_age|  StandardScaler_age|
+-----------+-------------+-----------------+---+--------------------+--------+----------------+--------------------+---------+-------+--------------------+
|        353|    fulan 353|             Male| 22|1800 George RoadS...|    9711|      Stantonton|          Queensland|Australia| [22.0]|[1.2460803649043537]|
|        666|    fulan 666|Prefer not to say| 72|20 Caitlin Parade...|    3159| West Nathanstad|  Northern Territory|Australia| [72.0]|  [4.07808119423243]|
|        712|    fulan 712|Prefer not to say| 71|749 Klein SummitS...|    5372|    Lefflermouth|Australian Capita...|Australia| [71.0]| [4.021441177645869]|
|        457|    fulan 457|             Male| 27|85 Mitchell Stree...|    1849|Charlotteborough|            Victoria|Australia| [27.0]|[1.5292804478371613]|
|        600|    fulan 600|             Male| 50|41 Aiden WayApt. 249|    2075| East Archieside|Australian Capita...|Australia| [50.0]|[2.8320008293280763]|
+-----------+-------------+-----------------+---+--------------------+--------+----------------+--------------------+---------+-------+--------------------+
only showing top 5 rows

#### Min-max Scaling

Mengubah skala pada data numerik sehingga memiliki rentang dari 0 hingga 1

In [17]:
from pyspark.ml.feature import MinMaxScaler

min_max_scaler = MinMaxScaler().setInputCol("vec_age").setOutputCol('MinMaxScaler_age')
preprocess_customers_df = min_max_scaler.fit(preprocess_customers_df).transform(preprocess_customers_df)

preprocess_customers_df.show(10)

+-----------+-------------+-----------------+---+--------------------+--------+-------------------+--------------------+---------+-------+--------------------+--------------------+
|customer_id|customer_name|           gender|age|        home_address|zip_code|               city|               state|  country|vec_age|  StandardScaler_age|    MinMaxScaler_age|
+-----------+-------------+-----------------+---+--------------------+--------+-------------------+--------------------+---------+-------+--------------------+--------------------+
|        353|    fulan 353|             Male| 22|1800 George RoadS...|    9711|         Stantonton|          Queensland|Australia| [22.0]|[1.2460803649043537]|[0.03333333333333...|
|        666|    fulan 666|Prefer not to say| 72|20 Caitlin Parade...|    3159|    West Nathanstad|  Northern Territory|Australia| [72.0]|  [4.07808119423243]|[0.8666666666666667]|
|        712|    fulan 712|Prefer not to say| 71|749 Klein SummitS...|    5372|       Lefflermouth|Australian Capita...|Australia| [71.0]| [4.021441177645869]|              [0.85]|
|        457|    fulan 457|             Male| 27|85 Mitchell Stree...|    1849|   Charlotteborough|            Victoria|Australia| [27.0]|[1.5292804478371613]|[0.11666666666666...|
|        600|    fulan 600|             Male| 50|41 Aiden WayApt. 249|    2075|    East Archieside|Australian Capita...|Australia| [50.0]|[2.8320008293280763]|               [0.5]|
|        800|    fulan 800|Prefer not to say| 49|3570 Sarah Avenue...|    4505|      Daughertyport|          Queensland|Australia| [49.0]| [2.775360812741515]|[0.48333333333333...|
|        838|    fulan 838|Prefer not to say| 44|7347 Windler Mall...|    5552|South Stephaniebury|     New South Wales|Australia| [44.0]|[2.4921607298087074]|               [0.4]|
|        888|    fulan 888|Prefer not to say| 22|184 Joshua CrestA...|     968|          Ellieland|  Northern Territory|Australia| [22.0]|[1.2460803649043537]|[0.03333333333333...|
|        947|    fulan 947|Prefer not to say| 74|23 Smith StreetSu...|    9260|      South Charles|     New South Wales|Australia| [74.0]| [4.191361227405554]|               [0.9]|
|        307|    fulan 307|           Female| 50|227 Donnelly Terr...|    4618|     Lake Jackmouth|            Victoria|Australia| [50.0]|[2.8320008293280763]|               [0.5]|
+-----------+-------------+-----------------+---+--------------------+--------+-------------------+--------------------+---------+-------+--------------------+--------------------+
only showing top 10 rows

## Label Encoding

Proses membuat sebuah indeks dalam bentuk bilangan bulat yang mewakili kategori tertentu dalam sebuah feature kategorik.

In [18]:
from pyspark.ml.feature import StringIndexer
label_encoder = StringIndexer().setInputCol("gender").setOutputCol("label_gender")
preprocess_customers_df = label_encoder.fit(preprocess_customers_df).transform(preprocess_customers_df)

preprocess_customers_df.show(10)

+-----------+-------------+-----------------+---+--------------------+--------+-------------------+--------------------+---------+-------+--------------------+--------------------+------------+
|customer_id|customer_name|           gender|age|        home_address|zip_code|               city|               state|  country|vec_age|  StandardScaler_age|    MinMaxScaler_age|label_gender|
+-----------+-------------+-----------------+---+--------------------+--------+-------------------+--------------------+---------+-------+--------------------+--------------------+------------+
|        353|    fulan 353|             Male| 22|1800 George RoadS...|    9711|         Stantonton|          Queensland|Australia| [22.0]|[1.2460803649043537]|[0.03333333333333...|         1.0|
|        666|    fulan 666|Prefer not to say| 72|20 Caitlin Parade...|    3159|    West Nathanstad|  Northern Territory|Australia| [72.0]|  [4.07808119423243]|[0.8666666666666667]|         0.0|
|        712|    fulan 712|Prefer not to say| 71|749 Klein SummitS...|    5372|       Lefflermouth|Australian Capita...|Australia| [71.0]| [4.021441177645869]|              [0.85]|         0.0|
|        457|    fulan 457|             Male| 27|85 Mitchell Stree...|    1849|   Charlotteborough|            Victoria|Australia| [27.0]|[1.5292804478371613]|[0.11666666666666...|         1.0|
|        600|    fulan 600|             Male| 50|41 Aiden WayApt. 249|    2075|    East Archieside|Australian Capita...|Australia| [50.0]|[2.8320008293280763]|               [0.5]|         1.0|
|        800|    fulan 800|Prefer not to say| 49|3570 Sarah Avenue...|    4505|      Daughertyport|          Queensland|Australia| [49.0]| [2.775360812741515]|[0.48333333333333...|         0.0|
|        838|    fulan 838|Prefer not to say| 44|7347 Windler Mall...|    5552|South Stephaniebury|     New South Wales|Australia| [44.0]|[2.4921607298087074]|               [0.4]|         0.0|
|        888|    fulan 888|Prefer not to say| 22|184 Joshua CrestA...|     968|          Ellieland|  Northern Territory|Australia| [22.0]|[1.2460803649043537]|[0.03333333333333...|         0.0|
|        947|    fulan 947|Prefer not to say| 74|23 Smith StreetSu...|    9260|      South Charles|     New South Wales|Australia| [74.0]| [4.191361227405554]|               [0.9]|         0.0|
|        307|    fulan 307|           Female| 50|227 Donnelly Terr...|    4618|     Lake Jackmouth|            Victoria|Australia| [50.0]|[2.8320008293280763]|               [0.5]|         2.0|
+-----------+-------------+-----------------+---+--------------------+--------+-------------------+--------------------+---------+-------+--------------------+--------------------+------------+
only showing top 10 rows

In [19]:
# JIKA INGIN MENGEMBALIKAN DATA

from pyspark.ml.feature import IndexToString
labelReverse = IndexToString().setInputCol("label_gender").setOutputCol("reverse_label")
labelReverse.transform(preprocess_customers_df).show(5)

+-----------+-------------+-----------------+---+--------------------+--------+----------------+--------------------+---------+-------+--------------------+--------------------+------------+-----------------+
|customer_id|customer_name|           gender|age|        home_address|zip_code|            city|               state|  country|vec_age|  StandardScaler_age|    MinMaxScaler_age|label_gender|    reverse_label|
+-----------+-------------+-----------------+---+--------------------+--------+----------------+--------------------+---------+-------+--------------------+--------------------+------------+-----------------+
|        353|    fulan 353|             Male| 22|1800 George RoadS...|    9711|      Stantonton|          Queensland|Australia| [22.0]|[1.2460803649043537]|[0.03333333333333...|         1.0|             Male|
|        666|    fulan 666|Prefer not to say| 72|20 Caitlin Parade...|    3159| West Nathanstad|  Northern Territory|Australia| [72.0]|  [4.07808119423243]|[0.8666666666666667]|         0.0|Prefer not to say|
|        712|    fulan 712|Prefer not to say| 71|749 Klein SummitS...|    5372|    Lefflermouth|Australian Capita...|Australia| [71.0]| [4.021441177645869]|              [0.85]|         0.0|Prefer not to say|
|        457|    fulan 457|             Male| 27|85 Mitchell Stree...|    1849|Charlotteborough|            Victoria|Australia| [27.0]|[1.5292804478371613]|[0.11666666666666...|         1.0|             Male|
|        600|    fulan 600|             Male| 50|41 Aiden WayApt. 249|    2075| East Archieside|Australian Capita...|Australia| [50.0]|[2.8320008293280763]|               [0.5]|         1.0|             Male|
+-----------+-------------+-----------------+---+--------------------+--------+----------------+--------------------+---------+-------+--------------------+--------------------+------------+-----------------+
only showing top 5 rows

## One-Hot Encoding

Pada metode ini, kita akan merepresentasikan setiap kategori kedalam nilai boolean yaitu 1 dan 0.

In [20]:
from pyspark.ml.feature import OneHotEncoder

one_hot_encoder = OneHotEncoder().setInputCol("label_gender").setOutputCol("one_hot_gender")
one_hot_encoder.fit(preprocess_customers_df).transform(preprocess_customers_df).show(5)

+-----------+-------------+-----------------+---+--------------------+--------+----------------+--------------------+---------+-------+--------------------+--------------------+------------+--------------+
|customer_id|customer_name|           gender|age|        home_address|zip_code|            city|               state|  country|vec_age|  StandardScaler_age|    MinMaxScaler_age|label_gender|one_hot_gender|
+-----------+-------------+-----------------+---+--------------------+--------+----------------+--------------------+---------+-------+--------------------+--------------------+------------+--------------+
|        353|    fulan 353|             Male| 22|1800 George RoadS...|    9711|      Stantonton|          Queensland|Australia| [22.0]|[1.2460803649043537]|[0.03333333333333...|         1.0| (2,[1],[1.0])|
|        666|    fulan 666|Prefer not to say| 72|20 Caitlin Parade...|    3159| West Nathanstad|  Northern Territory|Australia| [72.0]|  [4.07808119423243]|[0.8666666666666667]|         0.0| (2,[0],[1.0])|
|        712|    fulan 712|Prefer not to say| 71|749 Klein SummitS...|    5372|    Lefflermouth|Australian Capita...|Australia| [71.0]| [4.021441177645869]|              [0.85]|         0.0| (2,[0],[1.0])|
|        457|    fulan 457|             Male| 27|85 Mitchell Stree...|    1849|Charlotteborough|            Victoria|Australia| [27.0]|[1.5292804478371613]|[0.11666666666666...|         1.0| (2,[1],[1.0])|
|        600|    fulan 600|             Male| 50|41 Aiden WayApt. 249|    2075| East Archieside|Australian Capita...|Australia| [50.0]|[2.8320008293280763]|               [0.5]|         1.0| (2,[1],[1.0])|
+-----------+-------------+-----------------+---+--------------------+--------+----------------+--------------------+---------+-------+--------------------+--------------------+------------+--------------+
only showing top 5 rows

## PCA

metode PCA untuk mengurangi jumlah feature atau kolom yang digunakan untuk melatih model serta menyelesaikan masalah multikolinearitas yang terdapat dalam sebuah data.

In [21]:
from pyspark.ml.feature import PCA

# BUAT FEATURE BUATAN
assembler = VectorAssembler().setInputCols(['StandardScaler_age', 'MinMaxScaler_age']).setOutputCol('features')
preprocess_customers_df = assembler.transform(preprocess_customers_df)


pca = PCA().setInputCol("features").setOutputCol("PCA_age").setK(1)

preprocess_customers_df  = pca.fit(preprocess_customers_df).transform(preprocess_customers_df)
preprocess_customers_df.show(5, truncate=False)

+-----------+-------------+-----------------+---+---------------------------+--------+----------------+----------------------------+---------+-------+--------------------+---------------------+------------+----------------------------------------+---------------------+
|customer_id|customer_name|gender           |age|home_address               |zip_code|city            |state                       |country  |vec_age|StandardScaler_age  |MinMaxScaler_age     |label_gender|features                                |PCA_age              |
+-----------+-------------+-----------------+---+---------------------------+--------+----------------+----------------------------+---------+-------+--------------------+---------------------+------------+----------------------------------------+---------------------+
|353        |fulan 353    |Male             |22 |1800 George RoadSuite 097  |9711    |Stantonton      |Queensland                  |Australia|[22.0] |[1.2460803649043537]|[0.03333333333333333]|1.0         |[1.2460803649043537,0.03333333333333333]|[-1.2048113400260567]|
|666        |fulan 666    |Prefer not to say|72 |20 Caitlin ParadeSuite 493 |3159    |West Nathanstad |Northern Territory          |Australia|[72.0] |[4.07808119423243]  |[0.8666666666666667] |0.0         |[4.07808119423243,0.8666666666666667]   |[-4.156873863374667] |
|712        |fulan 712    |Prefer not to say|71 |749 Klein SummitSuite 383  |5372    |Lefflermouth    |Australian Capital Territory|Australia|[71.0] |[4.021441177645869] |[0.85]               |0.0         |[4.021441177645869,0.85]                |[-4.097832612907695] |
|457        |fulan 457    |Male             |27 |85 Mitchell StreetSuite 398|1849    |Charlotteborough|Victoria                    |Australia|[27.0] |[1.5292804478371613]|[0.11666666666666667]|1.0         |[1.5292804478371613,0.11666666666666667]|[-1.5000175923609178]|
|600        |fulan 600    |Male             |50 |41 Aiden WayApt. 249       |2075    |East Archieside |Australian Capital Territory|Australia|[50.0] |[2.8320008293280763]|[0.5]                |1.0         |[2.8320008293280763,0.5]                |[-2.8579663531012782]|
+-----------+-------------+-----------------+---+---------------------------+--------+----------------+----------------------------+---------+-------+--------------------+---------------------+------------+----------------------------------------+---------------------+
only showing top 5 rows